<!doctype html>

<head>
	<meta charset="utf-8">
	<title>Perfect Templete: {{title}}</title>

	{{> style}}
</head>

<body>
	<div id="header">
		<h3>
			{{title}}
		</h3>
	</div>
	<div id="content">
		<div>{{{body}}}</div>
		<a href="/">(Back)</a>
	</div>
</body>
</html>